name: Benchmark
on:
  workflow_dispatch:
permissions:
  contents: write
jobs:
  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    timeout-minutes: 100
    steps:
      - name: Clone
        uses: actions/checkout@v6
      - name: Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11
      - name: Build
        run: pip install .[dev,msgspec,numpy] matplotlib h5py
      - name: Test
        run: |
          python3 ./tests/h5/generate.py
          python3 ./tests/h5/read.py
          tar czf benchmark.tar.gz ./tests/h5/*.pdf
      - name: Upload
        uses: actions/upload-artifact@v5
        with:
          name: msglc-benchmark
          path: benchmark.tar.gz