name: Package
on:
  schedule:
    - cron: "0 5 * * 0"
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Clone
        uses: actions/checkout@v6
      - name: Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"
      - name: Dependency
        run: |
          pip install uv
          bash scripts/pip.sh
      - name: PR
        uses: peter-evans/create-pull-request@v8
        with:
          delete-branch: true
          title: Update Python dependencies
          commit-message: "[chore] Update Python dependencies"
